<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
<!--扫描哪些包-->
    <context:component-scan base-package="com.codefool0307"/>
    <!--引入外部配置文件-->
    <context:property-placeholder location="classpath:dbconfig.properties"></context:property-placeholder>
    <!--配置数据源-->
    <bean class="com.mchange.v2.c3p0.ComboPooledDataSource" id="pooledDataSource">
        <property name="user" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
        <property name="driverClass" value="${jdbc.driverClass}"></property>
    </bean>
    <!--用Template来掌控数据源-->
    <bean class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="pooledDataSource"></property>
    </bean>
    <!--1.事务控制-->
     <bean id="tx" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
         <!--控制哪个数据源-->
         <property name="dataSource" ref="pooledDataSource"></property>
     </bean>
    <aop:config>
        <aop:pointcut expression="execution(* com.atguigu.ser*.*.*(..))" id="txPoint"/>
        <!-- 事务建议；事务增强     advice-ref:指向事务管理器的配置 -->
        <aop:advisor advice-ref="myAdvice" pointcut-ref="txPoint"/>
    </aop:config>

    <!--  配置事务管理器；    事务建议；事务增强；事务属性；
    transaction-manager="transactionManager"：指定是配置哪个事务管理器；
    -->
    <tx:advice id="myAdvice" transaction-manager="tx">
        <!--事务属性  -->
        <tx:attributes>
            <!-- 指明哪些方法是事务方法；
            切入点表达式只是说，事务管理器要切入这些方法，
            哪些方法加事务使用tx:method指定的 -->
            <tx:method name="*"/>
            <tx:method name="checkout" propagation="REQUIRED" timeout="-1"/>
            <tx:method name="get*" read-only="true"/>
        </tx:attributes>
    </tx:advice>
</beans>