<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <!--实验10：创建带有生命周期的bean-->
        <bean id="book01" class="com.codefool0307.bean.book"
              destroy-method="myDestory" init-method="myinit" scope="prototype"></bean>

    <!--实验11：后置处理器-->
    <bean id="myBeanPostProcessor" class="com.codefool0307.bean.MyBeanPostProcessor"></bean>
</beans>